<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CornerSitesEntities" connectionString="metadata=res://*/Data.Data.csdl|res://*/Data.Data.ssdl|res://*/Data.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RAMESH-PC\SQLServer2008;Initial Catalog=CornerSites;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>